<div ng-include="'/project/shared/projectNavbar.html'"></div>

<div class="row" id="project-card-block">

  <div class="col-auto">
    <div class="card grid-card" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/personalPastebin.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Personal Pastebin <span class="badge badge-warning">New</span></h5>
        <p class="card-text">Paste your code, save it and even share it with others!</p>
      </div>
      <div class="card-footer">
        <a href="#!pastebin" role="button" class="btn btn-primary btn-sm">Launch</a> <small class="text-muted"></small>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card grid-card" href="#!" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/taskManager.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Task Manager <span class="badge badge-secondary">Soon</span></h5>
        <p class="card-text">Create checklists with different descriptions and status.</p>
      </div>
      <div class="card-footer">
        <a href="#" role="button" class="btn btn-primary btn-sm disabled" aria-disabled="true">Launch</a> <small class="text-muted">Coming Soon.</small>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card grid-card" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Another Project <span class="badge badge-secondary">Soon</span></h5>
        <p class="card-text">Wow, aren't these descriptions getting generic nowadays.</p>
      </div>
      <div class="card-footer">
        <a href="#" role="button" class="btn btn-primary btn-sm disabled" aria-disabled="true">Launch</a> <small class="text-muted">Coming Soon.</small>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card grid-card" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Another Project <span class="badge badge-secondary">Soon</span></h5>
        <p class="card-text">Wow, aren't these descriptions getting generic nowadays.</p>
      </div>
      <div class="card-footer">
        <a href="#" role="button" class="btn btn-primary btn-sm disabled" aria-disabled="true">Launch</a> <small class="text-muted">Coming Soon.</small>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card grid-card" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Another Project <span class="badge badge-secondary">Soon</span></h5>
        <p class="card-text">Wow, aren't these descriptions getting generic nowadays.</p>
      </div>
      <div class="card-footer">
        <a href="#" role="button" class="btn btn-primary btn-sm disabled" aria-disabled="true">Launch</a> <small class="text-muted">Coming Soon.</small>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card grid-card" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Another Project <span class="badge badge-secondary">Soon</span></h5>
        <p class="card-text">Wow, aren't these descriptions getting generic nowadays.</p>
      </div>
      <div class="card-footer">
        <a href="#" role="button" class="btn btn-primary btn-sm disabled" aria-disabled="true">Launch</a> <small class="text-muted">Coming Soon.</small>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card grid-card" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Another Project <span class="badge badge-secondary">Soon</span></h5>
        <p class="card-text">Wow, aren't these descriptions getting generic nowadays.</p>
      </div>
      <div class="card-footer">
        <a href="#" role="button" class="btn btn-primary btn-sm disabled" aria-disabled="true">Launch</a> <small class="text-muted">Coming Soon.</small>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card grid-card" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Another Project <span class="badge badge-secondary">Soon</span></h5>
        <p class="card-text">Wow, aren't these descriptions getting generic nowadays.</p>
      </div>
      <div class="card-footer">
        <a href="#" role="button" class="btn btn-primary btn-sm disabled" aria-disabled="true">Launch</a> <small class="text-muted">Coming Soon.</small>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card grid-card" style="width: 18rem;">
      <img class="card-img-top" src="/project/components/dashboard/placeholder.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Another Project <span class="badge badge-secondary">Soon</span></h5>
        <p class="card-text">Wow, aren't these descriptions getting generic nowadays.</p>
      </div>
      <div class="card-footer">
        <a href="#" role="button" class="btn btn-primary btn-sm disabled" aria-disabled="true">Launch</a> <small class="text-muted">Coming Soon.</small>
      </div>
    </div>
  </div>

</div>
