<div id="background-animation" class="text-center">

    <div id="loginCard" class="card text-center card-center">
      <div class="card-header">
        Pastebin
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input type="text" class="form-control" ng-model="loginData.email" id="login-email">
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">Password:</label>
            <input type="password" class="form-control" ng-model="loginData.password" id="login-password">
          </div>
        </form>
        <button type="button" class="btn btn-primary" ng-click="Login()">Login</button>
      </div>
      <div class="card-footer text-muted">
        <button type="button" class="login-button btn btn-link modal-link-text" data-toggle="modal" data-target="#registerModal">Don't have an account? Register!</button><br />
      </div>
    </div>
  
    <div id="footer" class="fixed-bottom text-center">
      <span class="copyright font-weight-light text-center">Copyright © mattdavis.info 2018<br />contact@mattdavis.info</span>
    </div>
  
  </div>
  
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="text" class="form-control" ng-model="registerData.email" id="register-email">
            </div>
            <div class="form-group">
              <label for="text" class="col-form-label">First Name:</label>
              <input type="text" class="form-control" ng-model="registerData.firstName" id="register-firstName">
            </div>
            <div class="form-group">
              <label for="text" class="col-form-label">Last Name:</label>
              <input type="text" class="form-control" ng-model="registerData.lastName" id="register-lastName">
            </div>
            <div class="form-group">
              <label for="password" class="col-form-label">Password:</label>
              <input type="password" class="form-control" ng-model="registerData.password" id="register-password">
            </div>
            <div class="form-group">
              <label for="password" class="col-form-label">Repeat Password:</label>
              <input type="password" class="form-control" ng-model="registerData.passwordRepeat" id="register-passwordRepeat">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="RegisterUser()">Register</button>
        </div>
      </div>
    </div>
  </div>
  